
@{
    ViewData["Title"] = "Statistics";
    var dict = (Dictionary<String, int>)ViewBag.diction;
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<div class="row">
    <div class="col-12">
        <div id="pie-chart"></div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">
        <figure class="highcharts-figure">
            <div id="container"></div>
        </figure>
    </div>
</div>

@section Scripts{

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
    var chart = new Highcharts.Chart({
        chart: {
            plotShadow: true,
            renderTo: 'pie-chart',
            type: 'pie'
        },
        title: {
            text: 'Pending && Approved'
        },
        series: [{
            name: 'Percentage',
            data: [
                ['PendingProject', @ViewBag.state1],
                ['ApprovedProjects', @ViewBag.state2],
                ['PendingInvoice', @ViewBag.Pendinginvoice],
                ['ApprovedInvoice', @ViewBag.Approvedinvoice]
            ]
        }]
    });
    </script>



<script>
    @{
        List<string> data1 = new List<string>();
        List<int> label1 = new List<int>();
        foreach (var item in dict)
        {
            data1.Add(item.Key);
            label1.Add(item.Value);
        }

     }
    var arrData = []
    var arrLabel = []
    var newArr = []
  
    var items1 = @Html.Raw(Json.Serialize(data1))
    var items2 = @Html.Raw(Json.Serialize(label1))
    
    console.log(items1);
    console.log(items2);
    console.log(items1)
    for (var i = 0; i < items1.length; i++) {
        var obj = {
            name: items1[i],
            y: items2[i]
        }
        console.log(`THis is Object `, obj)
        newArr.push(obj)
    }
    console.log(newArr)
    // Data retrieved from https://netmarketshare.com
    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: true,
            plotBorderWidth: true,
            plotShadow: true,
            type: 'pie'
        },
        title: {
            text: 'Projects && Owners',
            align: 'center'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: newArr
        }]
    });

</script>

}
