@*@model ProjectManagementBusinessLayer.Entities.Invoice*@
@using ProjectManagementAppLayer.DTOs.Update
@model UpdateInvoiceDTO
@{
    ViewData["Title"] = "Edit";
    var pay = (List<PaymentTerm>)ViewBag.pay;
    var inv = (Invoice)ViewBag.invoice;
}

@section Scripts {
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}

<h3>Edit Invoice</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="InvoiceId" value="@inv.Id" />
            <input type="hidden" name="ProjectId" value="@inv.ProjectId" />
            <input type="hidden" name="ClientId" value="@inv.Project.ClientId" />
            <input type="hidden" name="ProjectStatusId" value="@inv.Project.ProjectStatusId" />
            <input type="hidden" name="ProjectTypeId" value="@inv.Project.ProjectTypeId" />

            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="@inv.Project" class="control-label"></label>
                    <input asp-for="@inv.Project.ProjectName" class="form-control" disabled />
                    <span asp-validation-for="@inv.ProjectId" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="@inv.Project.Client" class="control-label"></label>
                    <input asp-for="@inv.Project.Client.Email" class="form-control" disabled />
                    <span asp-validation-for="@inv.Project.ClientId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="InvoiceTitle" class="control-label"></label>
                    <input asp-for="InvoiceTitle" class="form-control" value="@inv.InvoiceTitle" />
                    <span asp-validation-for="InvoiceTitle" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label class="control-label">Invoice Date</label>
                    <input class="form-control" id="datepicker" name="InvoiceDate" value="@inv.InvoiceDate.ToShortDateString()" />
                    @*type="date"*@
                    <span asp-validation-for="InvoiceDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-12">
                    <label asp-for="InvoicePaymentsIds" class="control-label"></label>
                    <select class="form-control" asp-for="InvoicePaymentsIds" multiple>
                        @foreach (var item1 in pay)
                        {
                            @if (inv.InvoicePaymentTerms.Select(q => q.PaymentTermId).ToList().Contains(item1.Id))
                            {
                                <option selected disabled value="@item1.Id">@item1.PaymentTermTitle</option>
                            }
                            else
                            {
                                <option value="@item1.Id">@item1.PaymentTermTitle</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="InvoiceDate" class="text-danger"></span>
                </div>            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>



<!--@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}-->
<!--DatePicker-->
<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
}-->
@*@*<div class="form-group col-6">
    <label asp-for="InvoicePaymentTerms" class="control-label"></label>
    <select class="form-control" asp-for="InvoicePaymentTerms">
        @foreach (var item in Model.InvoicePaymentTerms)
        {
        <option selected value="@item.PaymentTermId">@item.PaymentTerm.PaymentTermTitle</option>
        }
    </select>
    <span asp-validation-for="InvoiceDate" class="text-danger"></span>
</div>*@*@


