@*@model ProjectManagementBusinessLayer.Entities.ProjectPhase*@
@using ProjectManagementAppLayer.DTOs.Update
@model UpdateProjectPhasesDTO
@{
    ViewData["Title"] = "Edit";
    var phase = (List<Phase>)ViewBag.phase;
    var projectPhases = (ProjectPhase)ViewBag.projectPhase;
    var pphase = (List<ProjectPhase>)ViewBag.projectPahse;
}
<script>
    $(function () {
        $("#datepicker1").datepicker();
        $("#datepicker2").datepicker();
    });
</script>
<h3>Edit Project Phases</h3>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="ProjectPhaseId" value="@projectPhases.Id" />
            <input type="hidden" name="ProjectId" value="@projectPhases.ProjectId" />
            @*<input type="hidden" name="PhaseId" value="@projectPhases.PhaseId" />*@

            <div class="row">
                <div class="form-group col-12">
                    <label asp-for="ProjectId" class="control-label"></label>
                    <input asp-for="@projectPhases.Project.ProjectName" class="form-control" disabled>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input class="form-control" id="datepicker1" name="StartDate" value="@projectPhases.StartDate.ToString("d")" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input class="form-control" id="datepicker2" name="EndDate" value="@projectPhases.EndDate.ToString("d")" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-12">
                    <label asp-for="PhaseId" class="control-label"></label>
                    <select asp-for="PhaseId" class="form-control" asp-items="ViewBag.PhaseId"></select>
                    <span asp-validation-for="PhaseId" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        const buton = document.querySelector('.subs');
        buton.addEventListener('click', () => {
            console.log(buton.val())
        });
    </script>
}
