@*@model ProjectManagementBusinessLayer.Entities.Project*@
@using ProjectManagementAppLayer.DTOs.Update
@model UpdateProjectDTO
@{
    ViewData["Title"] = "Edit";
    var project = (Project)ViewBag.project;
    var pStatus = (List<ProjectStatus>)ViewBag.projectStatus;
    var pType = (List<ProjectType>)ViewBag.projectType;
    var client = (List<Client>)ViewBag.client;
}
<script>
    $(function () {
        $("#datepicker1").datepicker();
        $("#datepicker2").datepicker();
    });
</script>


<h3>Edit Project</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="ProjectId" value="@project.Id" />
            <input type="hidden" asp-for="@project.ContractFile" />
            <input type="hidden" name="ProjectManagerId" value="@project.ProjectManagerId" />
            <input type="hidden" name="ProjectManagerId" value="@project.ProjectManagerId" />


            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="ProjectName" class="control-label"></label>
                        <input asp-for="ProjectName" class="form-control" value="@project.ProjectName" />
                        <span asp-validation-for="ProjectName" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="ContractAmount" class="control-label"></label>
                        <input asp-for="ContractAmount" class="form-control" value="@project.ContractAmount" />
                        <span asp-validation-for="ContractAmount" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input name="StartDate" id="datepicker1" class="form-control" value="@project.StartDate.ToString("d")" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input name="EndDate" id="datepicker2" class="form-control" value="@project.EndDate.ToString("d")" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="ProjectTypeId" class="control-label"></label>
                        <select asp-for="ProjectTypeId" class="form-control" asp-items="ViewBag.ProjectTypeId"></select>
                        <span asp-validation-for="ProjectTypeId" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="ProjectStatusId" class="control-label"></label>
                        <select asp-for="ProjectStatusId" class="form-control" asp-items="ViewBag.ProjectStatusId"></select>
                        <span asp-validation-for="ProjectStatusId" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="ContractFile" class="control-label"></label>
                        <input asp-for="ContractFile" class="form-control" type="file" value="@project.ContractFile" />
                        <span asp-validation-for="ContractFile" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="ClientId" class="control-label"></label>
                        <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                        <span asp-validation-for="ClientId" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <a href="/ProjectManagment/Project/ViewContract?Id=@project.Id" target="_blank" class="btn btn-info">@project.ContractFileName</a>

            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
